$color: red;
$color2: rgba(255, 230, 0, 0.493);

$fc1: rgba(20, 20, 20, 0.493);
$fc2: rgb(255, 255, 255);

/* Color Theme Swatches in Hex */
$color1: rgb(39, 35, 223);
$color1-trasnparent: rgba(38, 35, 223, 0.9);
$color1b: #06735f;
$color2: #f2884b;
$color2-transparent: #4bbdf2a9;
$color3: #d96248;
$color4: #a64444;

$gold: #f29f05;
$black: #303030;
$white: #f2f2f2;
$lilla: #2c0e40;

@mixin for-size($range) {
  $phone-upper-boundary: 500px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) {
      @content;
    }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  }
}

@mixin device($pointer) {
  @if $pointer == phone {
    @media (pointer: coarse) {
      @content;
    }
  } @else if $pointer == pc {
    @media (pointer: fine) {
      @content;
    }
  }
}
