$color: red;
$color2: rgba(255, 230, 0, 0.493);

$fc1: rgba(20, 20, 20, 0.493);
$fc2: rgb(255, 255, 255);

/* Color Theme Swatches in Hex */
$color1: rgb(39, 35, 223);
$color1-trasnparent: rgba(38, 35, 223, 0.9);
$color1b: #06735f;
$color2: #f2884b;
$color2-transparent: #4bbdf2a9;
$color3: #d96248;
$color4: #a64444;
