@import "../../styles/variables.scss";

header {
  font-family: Helvetica, sans-serif;
  // border: red solid 1px;
  width: 100%;
  max-width: 100vw;
  background-color: $white;
  position: fixed;
  top: 0;
  z-index: 1000;

  a {
    text-decoration: none;
    transition: color 0.4s, border-color 0.4s;
    color: $black;
    border-color: $black;
  }
  a:hover {
    color: $gold;
    border-color: $gold;
  }
}

.logo {
  padding: 40px 0 20px 0;
  // border: green solid 1px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 300px;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -5px;
  opacity: 1;
  transition: max-height 0.4s, padding 0.4s, opacity 0.2s;
  overflow: hidden;
  a {
    border: $black solid 13px;
    padding: 10px 50px;
  }
}
.scrolled {
  .logo {
    opacity: 0;
    max-height: 0px;
    padding: 0;
  }
}

.menu {
  // border: blue solid 1px;
  height: 100px;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: height 1s;
}
.scrolled {
  .menu {
    height: 60px;
  }
}

.logoSide {
  // border: red solid 1px;
  width: 0%;
  height: 100%;
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: -2px;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  display: flex;

  a {
    border: $black solid 6px;
    padding: 6px 25px;
    transform: translateX(-200px);
    transition: transform 1s, color 0.4s, border-color 0.4s;
    margin-left: 10px;
  }
}

.scrolled {
  .logoSide {
    width: 100%;
    opacity: 1;

    a {
      transform: translateX(0px);
    }
  }
}
.links {
  padding: 0 10px;
  height: 100%;
  // border: rgb(195, 0, 255) solid 1px;
  min-width: 320px;
  width: 500px;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
